body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #4376e2d8, #0104beda);
}

.container {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(41, 40, 40, 0.644);
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    color: #ececec;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.712);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.644);
    margin-bottom: 10px;
    height: 20px;
    width: 412px;
}

p {
    font-size: 1.5em;
    color: #ececec;
    background: rgba(0, 0, 0, 0.712);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    margin-bottom: 10px;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(44, 44, 44, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

.made-by {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Nunito', sans-serif;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  .made-by:hover {
    opacity: 1;
  }